//varibales
$themepage: #C91825;
$themeblack: black;
$justwhite: white;

//mixins
@mixin generalsize{
    width: 100%;
    height: 100vh;
    background-color: $themeblack;
}


/* home section */
.home-section{
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(90deg, $themeblack 70%, $themeblack 30%);
   
}
/* navbar */
#navbar{
    background: linear-gradient(90deg, $themepage 70%,  $themepage 30%);
}
#logo{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: $justwhite;
    letter-spacing: 2px;
}
.navbar-nav{
    margin-left: 50px;
    margin-top: 6px;
}
.nav-item .nav-link{
    margin-left: 10px;
    font-weight: bold;
    color: $justwhite;
    font-size: 16px;
    text-shadow: 1px 1px 1px $themeblack;
    letter-spacing: 2px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    color:$themepage;
}
//finish navbar


/* home content */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, black 70%, black 30%);
    color: white;
    height: 100vh;
  }
  
  .home .content {
    flex: 1;
    padding: 20px;
  }
  
  .home .content h5 {
    color: #C91825;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .home .content h3 {
    font-size: 50px;
    color: #C91825;
  }
  
  .home .content h3 span {
    color: #C91825;
    font-weight: bold;
  }
  
  .changecontent::after {
    content: " ";
    color: white;
    font-weight: bold;
    font-size: 40px;
    animation: changetext 20s infinite linear;
  }
    
  .home .img {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home .img img {
    max-width: 100%;
    max-height: 100%;
  }

@keyframes changetext {
  0% {
    content: "Web Designer";
  }
  30% {
    content: "Full-Stack Developer";
  }
  60% {
    content: "Graphic Designer";
  }
  100% {
    content: "Bootstrap Web Design";
  }
}
.home .content p {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

#btn1 {
  width: 150px;
  height: 30px;
  letter-spacing: 3px;
  border-radius: 5px;
  color: #C91825;
  border: 2px solid #C91825;
  background: transparent;
  margin-top: 20px;
  font-weight: bold;
  transition: 0.5s ease;
  cursor: pointer;
}

#btn1:hover {
  background-color: #C91825;
  color: black;
}

@media screen and (max-width: 844px) {
  .home-section {
    height: 146vh;
    background: black;
  }
  .home .content {
    margin-top: 50px;
  }
  #navbar {
    background: black;
  }
}
@media screen and (max-width: 650px) {
  .home-section {
    height: 130vh;
  }
  .img img {
    margin-top: 30px;
  }
}
@media screen and (max-width: 360px) {
  .home-section {
    height: 110vh;
  }
}
/* home content */



/* about */
#about{
    width: 100%;
    height: 100vh;
    background-color: $themeblack;
    display: flex;
    align-items: center;
}
#about .card img{
    background-color: $themepage;
    border: 2px solid $themeblack;
}
#about{ 
    h3{
    color: $justwhite;
    border-bottom: 2px solid $themepage;
    width: 150px;
    }
    p{
        color: $justwhite;
        font-size: 15px;
    }
    h2{
        color: $justwhite;
        font-size: 17px;
        h2 span{
            font-size: 15px;
            color: $themepage;
            margin-left: 10px;
            margin-top: 10px;
        }
    }
}


#botoncontact{
    width: 160px;
    height: 38px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: $themepage;
    border: none;
    color: $justwhite;
    transition: 0.5s ease;
    cursor: pointer;
}
#botoncontact:hover{
    background-color: $themeblack;
}
@media screen and (max-width:987px){
    #about p{
        font-size: 10px;
    }
}
@media screen and (max-width:767px){
    #about{
        height: 150vh;
    }
    #about p{
        font-size: 17px;
    }
}
@media screen and (max-width:500px){
    #about{
        height: 120vh;
    }
}
/* about */


/* services */
#services{
@include generalsize;
    height: 110vh;  
    
}
#services h3{
    width: 130px;
    padding-top: 130px;
    color: $justwhite;
    border-bottom: 2px solid $themepage;
}
#services .card{
    transition: 0.5s ease;
    cursor: pointer;
}
#services .card:hover{
    background-color: $themepage;
}
#services p{
    color: $justwhite;
}
#services .card i{
    font-size: 42px;
    margin-left: 10px;
}
#services .card h2{
    font-size: 22px;
    margin-left: 10px;
}
@media screen and (max-width:767px){
    #services{
        height: 254vh;
    }
}
/* services */

.hr{
    width: 100%;
    height: 1px;
    background-color: $themepage;
}

/* resume */
#resume{
    @include generalsize;
}
#resume{
     h5{
    color: $themepage;
    padding-top: 50px;
    }
    h1{
    color: $justwhite;
    }
    h3 i{
        color: $themepage;
    }
    h3{
        color: $justwhite;
        border-bottom: 2px solid $themepage;
        width: 170px;
        margin-top: 30px;
    }
    h2{
        color: $justwhite;
        margin-top: 20px;
        font-size: 26px;
    }
    p{
        color: $justwhite;
        font-weight: bold;
        letter-spacing: 2px;
    }
    i{
        color: $themepage;
    }

}
@media (max-width:1200px){
    #resume{
        height: 140vh;
    }
}
@media (max-width:993px){
    #resume{
        height: 140vh;
    }
}
@media (max-width:768px){
    #resume{
        height: 220vh;
    }
}

@media (max-width:720px){
    #resume{
        height: 222vh;
    }
}



/* resume */




/* portfolio */
#portfolio{
    @include generalsize;
}
#portfolio h1{
    color: $justwhite;
    padding-top: 15px;
}
#portfolio p{
    color: $justwhite;
}
#portfolio .card{
    transition: 0.5s ease;
    cursor: pointer;
}
#portfolio .card:hover{
    transform: translateY(-10px);
}
@media (max-width:844px){
    #portfolio{
        height: 120vh;
    }
}
@media (max-width:767px){
    #portfolio{
        height: 440vh;
    }
}
@media (max-width:524px){
    #portfolio{
        height: 422vh;
    }
}
@media (max-width:455px){
    #portfolio{
        height: 370vh;
    }
}
@media (max-width:435px){
    #portfolio{
        height: 352vh;
    }
}
@media (max-width:380px){
    #portfolio{
        height: 315vh;
    }
}
@media (max-width:320px){
    #portfolio{
        height: 275vh;
    }
}


/* portfolio */




/* contact */
#contact{
    @include generalsize;
}
#contact h1{
    color: $justwhite;
    border-bottom: 2px solid $themepage;
    width: 210px;
    padding-top: 100px;
}
#contact p{
    color: $justwhite;
}
#contact input{
    width: 420px;
    margin-top: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid $justwhite;
}
#contact ::placeholder{
    color: $justwhite;
}
#contact textarea{
    background: transparent;
    border: 2px solid $justwhite;
    margin-top: 20px;
    color: $justwhite;
}
#btncontact{
    width: 420px;
    height: 38px;
    letter-spacing: 3px;
    font-weight: bold;
    background: transparent;
    color: $themepage;
    border: 2px solid $themepage;
    margin-top: 30px;
}
#contact i{
    color: $themepage;
    margin-top: 30px;
    margin-left: 7px;
    font-size: 20px;
}
.social-links i {
    font-size: 0;
    font-size: 20px;
}
.social-links a {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
  }

  @media (max-width:1200px){
    #contact{
        height: 140vh;
    }
}
  @media (max-width:995px){
    #contact{
        height: 130vh;
    }
    #contact input{
        width: 350px;
    }
    #contact textarea{
        width: 350px;
    }
    #contact #btncontact{
        width: 350px;
    }
}
@media (max-width:767px){
        #contact{
            height: 210vh;
     }
}    
@media (max-width:400px){
    #contact{
        height: 225vh;
    }
    #contact input{
        width: 250px;
    }
    #contact textarea{
        width: 250px;
    }
    #contact #btncontact{
        width: 250px;
    }
}
@media (max-width:314px){
    #contact{
        height: 233vh;
    }
    #contact input{
        width: 180px;
    }
    #contact textarea{
        width: 180px;
    }
    #contact #btncontact{
        width: 180px;
    }
}
/* contact */


/* footer */
#footer{
    width: 100%;
    background-color: $themepage;
}
#footer h1{
    color: $justwhite;
    text-shadow: 0px 1px 1px black;
    padding-top: 30px;
}
#footer p{
    color: $justwhite;
    text-shadow: 0px 0px 1px;
}
.icons i{
    text-shadow: 1px 1px 1px $themeblack;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.copyright{
    color: $justwhite;
    margin-top: 20px;
    text-shadow: 1px 1px 1px $justwhite;
}
.credite{
    color: $justwhite;
    text-shadow: 1px 1px 1px $themeblack;
}
/* footer */


html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    border-radius: 50px;
    color: $justwhite;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-shadow: 1px 1px 1px $themeblack;
    text-align: center;
    line-height: 50px;
}
.arrow:hover{
    color: $justwhite;
}











@import'./base/resets';
